<ion-header>
  <ion-toolbar>
    <ion-title>Elite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Juan Carlos Monroy</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mario David Velasquez</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Leonardo Tale</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pedro David </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carlos Saul</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
