<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Inscripcion Atletas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <form>
          <ion-list class="list list-ios hydrated">
              <ion-item>
                  <ion-label position="floating">DPI</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Fecha Nacimiento</ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Género</ion-label>
                        <ion-input></ion-input>
                      </ion-item>


            <ion-item>
                <ion-label>Default Label</ion-label>
                <ion-input></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="floating">Floating Label</ion-label>
                <ion-input></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="fixed">Fixed Label</ion-label>
                <ion-input></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-l abel position="stacked">Stacked Label</ion-label>
                <ion-input></ion-input>
              </ion-item>
          </ion-list>
          <div>
            <ion-button type="submit" class="button button-ios button-block button-block-ios button-solid button-solid-ios hydrated" ion-activable="">Create Account</ion-button>
          </div>
        </form>
  </ion-content>