<ion-header>
  <ion-toolbar>
    <ion-title>Libre Masculino {{totalInscritos}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Default Searchbar -->
<!--<ion-searchbar></ion-searchbar>-->
<ion-list>
  <ion-button ion-button (click)='printReport()' >Imprimir Reporte</ion-button>
  <ion-item *ngFor="let cr of LibreMasculino" routerLink="/detail/{{cr.id}}">
    <ion-icon name="desktop" slot="start"></ion-icon>
    <h1>{{cr.numero}}</h1> - {{cr.nombres}} {{cr.apellidos}} 
    <div class="item-note" slot="end">
      <!-- {{cr.createdAt | date}} -->
      {{cr.direccion}}
    </div>
  </ion-item>
</ion-list>
</ion-content>
