<ion-header>
  <ion-toolbar>
    <ion-title>LibreFemenino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Maria Eugenia </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sandra Lopez</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Josefa Tax</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Silvia Yax </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carmen Osorio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
