<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Detalles Atleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{atleta.nombres}} {{atleta.apellidos}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>{{atleta.direccion}}</ion-card-subtitle>
      <!-- <ul>
        <li *ngFor="let student of classroom.students">{{student.student_name}}</li>
      </ul> -->
      <ion-buttons slot="primary">
        <ion-button routerLink="/edit/{{atleta.id}}">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(atleta.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
