<ion-header>
  <ion-toolbar>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-item-group>
        <ion-item>
            <ion-label>Categoria Elite</ion-label>
            <ion-badge color="primary" slot="start">11</ion-badge>
          </ion-item>
        <ion-item>
          <ion-label>Categoria Libre Masculino</ion-label>
          <ion-badge color="secondary" slot="start">22</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Cateoria Libre Femenino</ion-label>
          <ion-badge color="tertiary" slot="start">33</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Categoria Master Masculino</ion-label>
          <ion-badge color="success" slot="start">44</ion-badge>
        </ion-item>
      </ion-item-group>
  </ion-content>
