<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Editar Atleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">DPI</ion-label>
                    <ion-input [(ngModel)]="atleta.dpi" type="number"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Nombres</ion-label>
                    <ion-input [(ngModel)]="atleta.nombres" type="text"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Apellidos</ion-label>
                    <ion-input [(ngModel)]="atleta.apellidos"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Fecha Nacimiento</ion-label>
                    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="atleta.fechaNacimiento" (ionChange)="getCategoria();"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Género</ion-label>
                    <ion-select value="brown" ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="atleta.genero" (ionChange)="getCategoria();">
                      <ion-select-option value="Masculino">Masculino</ion-select-option>
                      <ion-select-option value="Femenino">Femenino</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Telefono</ion-label>
                    <ion-input [(ngModel)]="atleta.telefono" type="number"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Correo</ion-label>
                    <ion-input [(ngModel)]="atleta.email"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Dirección</ion-label>
                    <ion-input [(ngModel)]="atleta.direccion"></ion-input>
    
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Pais</ion-label>
                    <ion-input [(ngModel)]="atleta.pais"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Atleta Elite?</ion-label>
                    <ion-checkbox color="primary" [(ngModel)]="atleta.elite" (ionChange)="verifyElite();"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Número de Atleta</ion-label>
                    <ion-input [(ngModel)]="atleta.numero" type="number"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item text-center>
                    <ion-label position="floating">Categoría Asignada</ion-label>
                    <ion-input value="{{atleta.categoriaInscripcion}}" disabled></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list class="list list-ios hydrated">
                  <ion-item>
                    <ion-label position="floating">Comentarios</ion-label>
                    <ion-input [(ngModel)]="atleta.descripcion"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
              </ion-row>
          </ion-grid>
          <ion-button expand="block" (click)="updateAtleta()">Inscribir Atleta</ion-button>
    
        </ion-card-content>
      </ion-card>






  <!--<form [formGroup]="AtletaForm">
    <ion-item>
      <ion-label position="floating">Atleta Inscrito</ion-label>
      <ion-input type="text" formControlName="atleta_name" [(ngModel)]="atle.name"></ion-input>
    </ion-item>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!AtletaForm.valid" (click)="updateClassroom()">Editar Atleta</ion-button>
  </form>-->
</ion-content>